* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  width: auto;
  height: 100vh;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.cover{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    justify-content:space-evenly;
    padding: 10px;
}

h3{
    font-size: 15px;
}

.top{
    background-color: whitesmoke;
    color: #000000;
    padding: 20px;
    box-shadow:0 0 2px 2px gainsboro;
}

.one:hover{
    transform: translateX(-6px);
    transition: ease-in-out .3s;
}

.top h3{
    background-color: #000000;
    color: whitesmoke;
    padding: 10px;
    width: 50px;
    text-align: center;
}

.top p{
    margin-top: 10px;
}

.top .more{
    display: flex;
    align-items:end;
    margin-top: 50px;
    font-size: 13px;
    font-weight: 600;
}

.one{
    color: #000000;
}

.one img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.two{
     border: 1px solid #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.top1{
    background-color:#70c4d1;
    color: #000000;
    padding: 20px;
}

.top1:hover{
    transform: translateX(-6px);
    transition: ease-in-out.3s;
}

.top1 h3{
    background-color: #000000;
    color: whitesmoke;
    padding: 10px;
    width: 75px;
    text-align: center;
}

.top1 p{
    margin-top: 10px;
}

.top1 .more{
    display: flex;
    align-items:end;
    margin-top: 110px;
    font-size: 13px;
    font-weight: 600;
}

.bottom1{
    background-color: #FAB061;
    color: #000000;
    padding: 20px;
    height: 242px;
}

.bottom1:hover{
    transform: translateX(-6px);
    transition: ease-in-out.3s;
}

.bottom1 h3{
    background-color: #000000;
    color: whitesmoke;
    padding: 10px;
    width: 100px;
    text-align: center;
}

.bottom1 p{
    margin-top: 10px;
}

.bottom1 .more{
    display: flex;
    align-items:end;
    margin-top: 100px;
    font-size: 13px;
    font-weight: 600;
}

.three img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.bottom2{
    background-color:#678255cc;
    color: #000000;
    padding: 20px;
    height: 203px;
    margin-top: -10px;
}

.three:hover{
    transform: translateX(-6px);
    transition: ease-in-out.3s;
}

.bottom2 h3{
    background-color: #000000;
    color: whitesmoke;
    padding: 10px;
    width: 75px;
    text-align:center ;
}

.bottom2 p{
    margin-top: 10px;
}

.bottom2 .more{
    display: flex;
    align-items:end;
    margin-top: 60px;
    font-size: 13px;
    font-weight: 600;

}